block path
!!!5
html(lang="ja")
	head
		//- meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=yes")
		block head
			meta(http-equiv="content-type", content="text/html; charset=utf-8")
		block keywords
			meta(name="keywords", content="")
		block description
		title
			|インカム・無線機・トランシーバーのレンタル　|　インカム.com　|　インカムドットコム
		block canonical
			link(rel="canonical", href="http://incom.com/")
			link(rel="stylesheet", href="/css/main.css")
			link(rel="stylesheet", href="/common/css/thickbox.css")
		//- - 個別ページのJS
		block css
			link(rel="stylesheet", href="css/layout.css")

		block script
			script(type="text/javascript",src="http://code.jquery.com/jquery-1.7.2.min.js")
			script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
			script(type="text/javascript",src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js")
			script(src="/js/easing.js")
			script(src="/js/modernizr.custom.js")
		//- 個別ページのJS
		block js
		block JsUnique
	body
		#wrap
			#headderArea
				h1
					|無線機・インカム・トランシーバーのレンタルはインカム.com（インカムドットコム）【24時間・365日対応】全国・緊急時にも対応
				ul
					li#logo
						a(href="#")
							img(src="/common/images/logo.png")
					li#tel
						ul
							li#time
								img(src="/common/images/time.png")
							li#number
								a(href="tel:03-5480-7315")
									img(src="/common/images/btn_number.png")
				ul#contactBtn
					li#contactBtnMail
						a(href="#")
							img(src="/common/images/btn_mail.png")
					li#contactBtnTel
						a(href="#")
							img(src="/common/images/btn_tel.png")

			#mainImg
				ul#mainImgInner
					li
						img(src="/images/main01.png")
					li
						img(src="/images/main02.png")
					li
						img(src="/images/main03.png")
			#gNavi
				ul
					li#about
						a(href="#")
							img(src="/common/images/gnavi_about.png")
						p.over
					li#transceiver
						a(href="#")
							img(src="/common/images/gnavi_incom.png")
						p.over
					li#begginer
						a(href="#")
							img(src="/common/images/gnavi_begginer.png")
						p.over
					li#experienced
						a(href="#")
							img(src="/common/images/gnavi_experienced.png")
						p.over
					li#price
						a(href="#")
							img(src="/common/images/gnavi_price.png")
						p.over
					li#cases
						a(href="#")
							img(src="/common/images/gnavi_cases.png")
						p.over
					li#faq
						a(href="#")
							img(src="/common/images/gnavi_faq.png")
						p.over
			#content
				.contents#features
					h2
						img(src="/images/title_about.png")
					#featuresDetails
						#featuresDetailsInner
							ul
								li
									img(src="/images/feature01.png")
								li
									img(src="/images/feature02.png")
								li
									img(src="/images/feature03.png")
				.contents#advantage
					h2
						img(src="/images/title_advantage.png")
					#advantageDetails
						ul
							li#advantage01
							li#advantage02
							li#advantage03
							li#advantage04
							li#advantage05
							li#advantage06
				.contents#begginer
					#forBegginer
						h2
							img(src="/images/title_begginer.png")
						ul
							li
								img(src="/images/begginer01.png")
							li
								img(src="/images/begginer02.png")
							li
								img(src="/images/begginer03.png")
							li
								img(src="/images/begginer04.png")
							li
								img(src="/images/begginer05.png")
							li
								img(src="/images/begginer06.png")
					#forexperienced
						h2
							img(src="/images/title_experienced.png")
						ul
							li
								img(src="/images/experienced01.png")
							li
								img(src="/images/experienced02.png")
							li
								img(src="/images/experienced03.png")
							li
								img(src="/images/experienced04.png")
							li
								img(src="/images/experienced05.png")
							li
								img(src="/images/experienced06.png")
				.contents#news
					h2
						img(src="/images/title_news.png")
					#newsDetails
						ul
							li 2016.11.11
							li
								img(src="/images/icon_news.png")
							li
								|初めての。。。。。。。。。。。。。。。。。
						ul
							li 2016.11.11
							li
								img(src="/images/icon_news.png")
							li
								|初めての。。。。。。。。。。。。。。。。。
						ul
							li 2016.11.11
							li
								img(src="/images/icon_news.png")
							li
								|初めての。。。。。。。。。。。。。。。。。
						ul
							li 2016.11.11
							li
								img(src="/images/icon_news.png")
							li
								|初めての。。。。。。。。。。。。。。。。。
						ul
							li 2016.11.11
							li
								img(src="/images/icon_news.png")
							li
								|初めての。。。。。。。。。。。。。。。。。
						ul
							li 2016.11.11
							li
								img(src="/images/icon_news.png")
							li
								|初めての。。。。。。。。。。。。。。。。。
						ul
							li 2016.11.11
							li
								img(src="/images/icon_news.png")
							li
								|初めての。。。。。。。。。。。。。。。。。
				.contents#transceiver
					h2
						img(src="/images/title_incom.png")
					#transceiverDetails
						ul
							li
								a(href="#")
									img(src="/images/incom01.png")
							li
								a(href="#")
									img(src="/images/incom02.png")
							li
								a(href="#")
									img(src="/images/incom03.png")
							li
								a(href="#")
									img(src="/images/incom04.png")
						.arrow#arrowLeft
							a(href="#")
								img(src="/images/arrow_left.png")
						.arrow#arrowRight
							a(href="#")
								img(src="/images/arrow_right.png")
			#siteMap
				ul
					li.title
						|インカム.com
					li
						|インカム.comとは？
					li
						|インカム.comの強み
					li
						|エリア別配送日数
					li
						|安価の理由
					li
						|他者との違い
				ul
					li.title
						|インカム.com
					li
						|インカム.comとは？
					li
						|インカム.comの強み
					li
						|エリア別配送日数
					li
						|安価の理由
					li
						|他者との違い
				ul
					li.title
						|インカム.com
					li
						|インカム.comとは？
					li
						|インカム.comの強み
					li
						|エリア別配送日数
					li
						|安価の理由
					li
						|他者との違い
				ul
					li.title
						|インカム.com
					li
						|インカム.comとは？
					li
						|インカム.comの強み
					li
						|エリア別配送日数
					li
						|安価の理由
					li
						|他者との違い
				ul
					li.title
						|インカム.com
					li
						|インカム.comとは？
					li
						|インカム.comの強み
					li
						|エリア別配送日数
					li
						|安価の理由
					li
						|他者との違い
				ul
					li.title
						|インカム.com
					li
						|インカム.comとは？
					li
						|インカム.comの強み
					li
						|エリア別配送日数
					li
						|安価の理由
					li
						|他者との違い
				ul
					li.title
						|インカム.com
					li
						|インカム.comとは？
					li
						|インカム.comの強み
					li
						|エリア別配送日数
					li
						|安価の理由
					li
						|他者との違い





